.Hangman {
    border: 3px solid blue;
    font-size: 20px;
    text-align: center;
    height: 150px;
    margin: 0 auto;
    width: 80%;
}

.Warhammer {
    border: 3px solid blue;
    font-size: 20px;
    text-align: center;
    height: 150px;
    margin: 0 auto;
    width: 80%;
}

.Blanks {
    border: 3px solid blue;
    font-size: 20px;
    text-align: center;
    height: 150px;
    margin: 0 auto;
    width: 80%;
}

.Correct {
    border: 3px solid blue;
    font-size: 20px;
    text-align: center;
    height: 150px;
    margin: 0 auto;
    width: 80%;
}

.Incorrect {
    border: 3px solid blue;
    font-size: 20px;
    text-align: center;
    height: 150px;
    margin: 0 auto;
    width: 80%;
}